body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	box-sizing: border-box;
}

html {
	height: 100vh;
	color: #fff;
	background-color: #2b2929;
}

.app-container {
	padding: 0 !important;
}

#app-header {
	text-align: center;
}

.goal-container {
	padding: 0px !important;
	width: 100%;
}

#date-picker {
	width: 195px !important;
}

.form-container {
	text-align: center;
}

#progress-circle-BG {
	position: relative !important;
	z-index: 10;
}
#progress-circle {
	position: absolute !important;
	left: calc(50vw - 40px);
	z-index: 1;
}
